
fieldset {
    border-radius: 1%;
}

.btn-primary {
    margin-top: 10px;
}

.diary-title {
    display: block;
    margin: 10px;
}

.diary-entry {
    display: block;
    margin: 10px;
}

.header-title {
    display: inline-block;
    height: 100px;
}

.header-img {
    height: 100px;
    border-radius: 50%;
}

.header-form {
    display: block;
}
