/* element styles */
body {
    background-color: #f4f7c5;
    margin: 0;
}

p {
    letter-spacing: 1em;
}


/* everything contained in the header element */
.header-container {
    background-color: #aacdbe;
    display: block;
    position: fixed;
    width: 100%;
    /* z-index: 1; */
    height: 65px;
}

.header-title {
    display: inline-block;
    height: auto;
    margin: 0px 10px;
    position: relative;
    top: -15px;
    width: auto;
}

.header-img {
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    padding-top: 8px;
}

/* everything contained in the body-container */
.body-container {
    background-color: white;
    background-image: url('../Images/dog-park.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* display: block; */
    height: 500px;
    padding-top: 65px;
    font-family: 'Piedra', cursive;
    letter-spacing: .1em;
    width: 100%;
}

/* .body-img {
    object-fit: cover;
    height: auto;
    width: 100%;
} */

fieldset {
    border-radius: 1%;
    border: thick double black;
}

.btn-primary {
    margin-top: 10px;
}

.diary-title {
    display: inline-block;
    margin: 5px;
}

.diary-entry {
    display: block;
    margin: 5px;
}

#entry-date {
    display: inline-block;
}

.body-form {
    background-color: #f4f7c57f;
    position: relative;
    margin-bottom: 10px;
    bottom: -45%;
    left: 30%;
    width: 650px;
}

