<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Dog Diary</title>
</head>
<body>
    <div class="header-contaner">
        <h1 class="header-title">My Diary</h1>
        <img class="header-img" src="../Images/studiousdog.jpg" alt="Picture of a dog.">
        <form class="header-form">
            <input type="submit">
            <!-- <button>

            </button> -->
        </form>

    </div>
    
</body>
</html>